<app-admin-header></app-admin-header>

<div [hidden]="positionskategorieBearbeitet" class="container w-50 py-5 h-100">

  <h1 [hidden]="itemGetsEdited" style="margin-bottom: 40px;">Positionskategorie</h1>
  <h1 [hidden]="!itemGetsEdited" style="margin-bottom: 40px;">Positionskategorie bearbeiten</h1>

  <form [formGroup]="positionskateogrieEditForm" #form="ngForm">

    <div class="form-group was-validated" style="margin-bottom:20px">
      <label [hidden]="!itemGetsEdited" for="positionskategoriename" class="form-label">Name der
        Positionskategorie</label>
      <label [hidden]="itemGetsEdited" for="positionskategoriename" class="form-label"><strong>Name der
          Positionskategorie</strong></label>
      <p [hidden]="itemGetsEdited" class="card-text">{{positionskategorie.positionskategoriename}}</p>
      <input [hidden]="!itemGetsEdited" type="text" id="positionskategoriename" name="positionskategoriename"
        formControlName="positionskategoriename" placeholder="Name der Positionskategorie hier eingeben" required
        minlength="2" maxlength="100" class="form-control"
        [class.is-invalid]="positionskategoriename.invalid && (positionskategoriename.dirty)">
      <div *ngIf="positionskategoriename.invalid && (positionskategoriename.dirty)" class="invalid-feedback">
        <div *ngIf="positionskategoriename.errors?.['required']">
          Das Feld muss ausgefüllt werden.
        </div>
        <div *ngIf="positionskategoriename.errors?.['minlength']">
          Es müssen mindestens 2 Zeichen vorhanden sein.
        </div>
        <div *ngIf="positionskategoriename.errors?.['maxlength']">
          Es dürfen maximal 100 Zeichen verwendet werden.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group was-validated col-12" style="margin-bottom:20px">
        <label [hidden]="!itemGetsEdited" for="spalte" class="form-label">Spalte</label>
        <label [hidden]="itemGetsEdited" for="spalte" class="form-label"><strong>Spalte</strong></label>
        <p [hidden]="itemGetsEdited" class="card-text">{{positionskategorie.spalte}}</p>
        <select [hidden]="!itemGetsEdited" id="spalte" name="spalte" formControlName="spalte" required
          class="form-select" [class.is-invalid]="spalte.invalid">
          <option *ngFor="let spalte of spalten" [selected]="spalte === this.positionskategorie.spalte">{{spalte}}
          </option>
        </select>
        <div *ngIf="spalte.invalid && (spalte.dirty || spalte.touched)" class="invalid-feedback">
          <div *ngIf="spalte.errors?.['required']">
            Es muss eine Spalte ausgewählt werden.
          </div>
        </div>
      </div>
    </div>

    <p [hidden]="controlFormChange()" class="text-danger">Es muss mindestens ein Feld angepasst werden</p>

    <button (click)="goBack()" class="btn btn-secondary" style="margin-right: 20px;"
      [hidden]="itemGetsEdited">zurück</button>
    <button (click)="exitEdit()" class="btn btn-secondary" style="margin-right: 20px;"
      [hidden]="!itemGetsEdited">Bearbeitung abbrechen</button>

    <button (click)="editItem()" [hidden]="itemGetsEdited" style="margin-right: 20px;"
      class="btn btn-primary">Positionskategorie bearbeiten</button>
    <button (click)="onSubmit()" [hidden]="!itemGetsEdited" style="margin-right: 20px;" type="submit"
      class="btn btn-primary" [disabled]="!positionskateogrieEditForm.valid">Anpassung speichern</button>

    <button class="btn btn-danger" [hidden]="itemGetsEdited" data-bs-toggle="modal"
      data-bs-target="#exampleModal">Positionskategorie löschen</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Kategorie {{positionskategorie.positionskategoriename}}
              <strong>löschen?</strong></h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Sind Sie sich sicher, dass Sie die Kategorie <strong>{{positionskategorie.positionskategoriename}}</strong>
            löschen möchten?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nein, abbrechen</button>
            <button type="button" class="btn btn-danger" (click)="deleteItem()" data-bs-dismiss="modal">Ja,
              Positionskategorie löschen</button>
          </div>
        </div>
      </div>
    </div>

  </form>

</div>

<div [hidden]="!positionskategorieBearbeitet" class="container w-50 py-5 h-100">
  <h1 style="margin-bottom: 40px;">Es hat geklappt!</h1>
  <div class="form-group was-validated" style="margin-bottom:20px">
    <p class="card-text">Die Positionskategorie <strong>{{positionskategorie.positionskategoriename}}</strong> wurde
      erfolgreich angepasst.</p>
  </div>
  <button type="button" class="btn btn-secondary" style="margin-right: 20px;" (click)="goBack()">Okay, super</button>
  <button type="button" class="btn btn-primary" (click)="reload()">Details ansehen</button>
</div>