<app-user-header></app-user-header>


<div class="row justify-content-center">
  <button class="col-md-3 col-10 navUebersichtAktive">Welche Position passt zu mir</button>
  <div class="col-md-1 col-12"></div>
  <button routerLink="/planen/wunschkompetenzen" class="col-md-3 col-10 navUebersichtPassive">Wie kann ich mich weiterbilden</button>
</div>

<div class="row row-cols">
    <div class="col-md-3 col-12">

        <div class="container w-100 py-5 h-100">
            <div class="card">
                <div class="card-body">
            <h5 class="car-title" style="margin-bottom: 20px;">Folgende Kompetenzen behersche ich:</h5>

            <form [formGroup]="kompetenzenFilterForm" #form="ngForm">
       <!--
                <div class="form-group" style="margin-bottom:20px">
                    <label for="position" class="form-label">Position</label>
                    <select id="position" name="position" formControlName="position" (change)="changePosition()" class="form-select" [class.is-invalid]="position.invalid">
                      <option value="" disable hidden selected>Position auswählen...</option>
                      <option *ngFor="let position of allPositionen" [ngValue]="position">{{position.positionsname}}</option>
                  </select>
                  </div>
-->
                <div class="form-group was-validated" style="margin-bottom:20px">
                    <p class="form-label">Kompetenzen</p>
                    <span formArrayName="kompetenzen" *ngFor="let kompetenz of kompetenzen.controls; let i = index" required [class.is-invalid]="kompetenzen.invalid">
                      <input type="checkbox" [formControlName]="i"  class="btn-check" id="{{allKompetenzen[i].kompetenzname}}" autocomplete="off" (change)="onSubmit()">
                      <label class="btn btn-outline-primary" for="{{allKompetenzen[i].kompetenzname}}" style="margin:0px 2.5px 5px 2.5px" >{{allKompetenzen[i].kompetenzname}}</label>
                    </span>

                </div>

                <button type="submit" class="btn btn-success" (click)="onSubmit()">Hinzufügen</button>
                <button type="button" class="btn btn-danger" style="margin-left: 20px;" (click)="resetForm()">zurücksetzen</button>
            </form>
        </div>
        </div>

    </div>

    </div>
    <div class="col-md-9 col-12" [hidden]="!showresults">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Positionsname</th>
                <th scope="col">Kompetenzen</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let position of positionenFilters" class="cursorPointer" routerLink="/positionsdetail/{{position.id}}">
                <td>{{position.positionsname}}</td>
                <td>
                    <ul class="list-group list-group-flush">
                        <div *ngFor="let positionskompetenz of position.positionskompetenzen">
                        <li class="list-group-item" *ngIf="checkAusgewaehlt(positionskompetenz)" id="ausgewaehlt">{{positionskompetenz.kompetenzname}}</li>
                        <li class="list-group-item" *ngIf="!checkAusgewaehlt(positionskompetenz)" >{{positionskompetenz.kompetenzname}}</li>
                    </div>
                </ul></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>