<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mt-2 mt-lg-0" href="https://www.fff.ch">
      <img
        src="../../../../assets/images/logo_fff.png"
        height="50"
        alt="FFF Logo"
        loading="logo"
      />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Übersichten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/planen">Karriere planen</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-primary" type="button" routerLink="/login">Admin</button>
      </form>
    </div>
  </div>
</nav>